<!-- Toolbar -->
<div class="toolbar d-flex" role="banner">

  <div class="logo" style>
    <img style=" height: 60px;" alt="Angular Logo" src="../assets/img/Logomarca.png" />
    
  </div>
  
  <p *ngIf="authService.user | async" class="mt-3" style="font-size: 10px;">Olá! {{(authService.user| async)?.displayName}}</p>
  <p *ngIf="authService.user | async" class="mt-3" style="font-size: 10px;" (click)="logout()">logout</p>
</div>

<div>
  <router-outlet></router-outlet>
</div>





<!-- Footer -->
<footer class=" page-footer text-center text-light fixed-bottom">
  <a routerLink="/home">
    <div class="mr-4 p-3">
      <img src="../assets/img/home-24px.svg" alt="Home" class="rounded-circle" style="width: 35px; height: auto;">
      <p class="text-light">Home</p>
    </div>
  </a>

  <a href="/agendamento">
    <div class="mr-4 p-3">
      <img src="../assets/img/event_note-24px.svg" alt="Home" class="rounded-circle" style="width: 35px; height: auto;">
      <p class="text-light">Agendar</p>
    </div>
  </a>
  <a href="/login">
    <div class="mr-8 p-3">
      <img src="../assets/img/portrait-24px.svg" alt="Home" class="rounded-circle" style="width: 35px; height: auto;">
      <p class="text-light">Perfil</p>
    </div>
  </a>

</footer>
<!-- Footer -->