<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<!-- Toolbar -->
<div class="toolbar" role="banner">
  
  <div class="logo" >
    <img width="40" alt="Angular Logo" src="../assets/img/biscoito.jpg" />
    <span>ScrumCookies</span>
  </div>
  
  <a href="/login">
    <img class="login-img" width="40" alt="ScrumCookies Login" src="../assets/account_circle-24px.svg" />
  </a>
</div>

<div>
  <router-outlet></router-outlet>
</div>




<!-- Footer -->
<footer class="page-footer font-small blue" >
    

        

</footer>
<!-- Footer -->



