<div class="container" style="font-family: Verdana">  

    <h1 style="text-align: center; margin-top: 6%; color:#B03060; font-size: 25px;">
      Sobre nós
    </h1>
       <section style="text-align: left; margin-top: 6%;">
         <h2 style="font-size: 20px;">Sobre a Spybeauty</h2>
           <p style="margin-top: 6%; font-size: 15px;">
             A Spybeauty é uma startup criadora do aplicativo cujo o objetivo visa o público do mundo da estética
             para atender necessidades dos usuários sendo eles clientes e profissionais da área e tudo com intuito
             de atender com mais qualidade possível trabalhando para o melhor serviço prestado e o nosso projeto
             promete crescer ainda mais.
           </p>
             <span style="max-width: 150px; font-size: 15px;">
               Sempre pensando no melhor para os nossos usuários dispomos de um serviço de qualidade com suporte
               de ajuda dispostos a atender melhor suas necessidades.
             </span>
       </section>
</div>