<div class="card-content col-12 pl-2">
    <mat-card class="col-4 ">
        <img src="../../../assets/img/Carboxiterapia.jfif" mat-card-sm-image>
        <mat-card-subtitle class="mt-2">Carboxiterapia</mat-card-subtitle>
    </mat-card>

    <mat-card class="col-4  ml-1 mr-1">
        <img src="../../../assets/img/Drenagem Linfática.jfif" mat-card-sm-image>
        <mat-card-subtitle class="mt-1">Drenagem Linfática</mat-card-subtitle>
    </mat-card>

    <mat-card class="col-4  ">
        <img src="../../../assets/img/Limpeza de Pele.jfif" mat-card-sm-image>
        <mat-card-subtitle class="mt-2">Limpeza de Pele</mat-card-subtitle>
    </mat-card>
</div>

<div class="card-content col-12 pl-2">
        <mat-card class="col-4 ">
            <img src="../../../assets/img/Lipocavitação.jfif" mat-card-sm-image>
            <mat-card-subtitle class="mt-2">Lipocavitação</mat-card-subtitle>
        </mat-card>
    
        <mat-card class="col-4  ml-1 mr-1">
            <img src="../../../assets/img/Massagem Modeladora.jfif" mat-card-sm-image>
            <mat-card-subtitle class="mt-3">Massagem Modeladora</mat-card-subtitle>
        </mat-card>
        
        <mat-card class="col-4  ">
            <img src="../../../assets/img/Ondas de Choque.jfif" mat-card-sm-image>
            <mat-card-subtitle class="mt-2">Ondas de Choque</mat-card-subtitle>
        </mat-card>
    </div>

    <div class="card-content col-12 pl-2" style="">
            <mat-card class="col-4 ">
                <img src="../../../assets/img/Ultra Cavity.jfif" mat-card-sm-image>
                <mat-card-subtitle class="mt-2">Ultra Cavity</mat-card-subtitle>
            </mat-card>
        
            <mat-card class="col-4  ml-1 mr-1">
                <img src="../../../assets/img/Radiofrequência.png" mat-card-sm-image>
                <mat-card-subtitle class="mt-1">Radio frequência</mat-card-subtitle>
            </mat-card>
            
            <mat-card class="col-4  ">
                <img src="../../../assets/img/room_service-24px.svg" mat-card-sm-image>
                <mat-card-subtitle class="mt-2">Outros</mat-card-subtitle>
            </mat-card>
        </div>