<div class="container col border border-primary d-flex pr-4" style="height: 300px; overflow: scroll; ">

    <mat-card class="col-4 m-0 serv">
        <a href="/serv">
            
            <mat-card-subtitle>card</mat-card-subtitle>
        </a>
    </mat-card>
    <mat-card class="col-4 ml-1 mr-1 serv">
        
        <mat-card-subtitle>card</mat-card-subtitle>
    </mat-card>
    <mat-card class="col-4 serv">
    
        <mat-card-subtitle>card</mat-card-subtitle>
    </mat-card>  


</div>






<div class="border border-success" style="height: 240px; ">
    <div class=" d-flex text-success border border-primary m-0" style="width: 100%;" *ngFor="let p of pessoa | async">
        <img src="../../../assets/img/biscoito.jpg" alt="" class="mr-4 col-2 border border-primary">
        <p class="mr-4">{{p.nome}}</p>
        <p>{{p.email}}</p>
    </div>

</div>