<div class="agendamento text-center mt-2">
    
        <h6 class="agendamento col-6 m-auto">Agendamento</h6>
    
    <div class="container mt-4">

    </div>
</div>
<!--
<form class="form-agendamento" action="">
        <div>
            <label for="">NomeCliente</label>
            <input class="nome-cliente" type="text">
        </div>
        <div>
            <input class="nome-profissional" type="text">
        </div>
        <div>
            <label class="endereço">Endereço</label>
            <div class="dados">
                <input>Rua:
                <div>
                    <input type="text">N°:
                    <input type="text">Complemento:
                </div>
                <input type="text">Cidade:
                <input type="text">UF:

            </div>
        </div>
    </form>
-->