<div class="container agendamento border mt-2 text-center p-0">
    <h4>Agendamento</h4>
    <form action="" class="form-group form-agendamento form-ag p-0" #fc=ngForm (ngSubmit)="submitAgendamento(fc)">
        <div class="mb-2">
            
            <input type="text" class="form-control" name="nomeprofissional" placeholder="Nome profissional"
                value="{{profissional.nome + ' ' + profissional.sobrenome}} " [ngModel]='agendamento.profissional'
                name="nomeprofissional" required>
        </div>

        <div>
            <input type="text" class="form-control" name="nomecliente" placeholder="Nome"
                [(ngModel)]='agendamento.nomecliente' name="nomecliente" required>
        </div>

        <div class="mt-2 ">
            <input class="form-control" type="text" name="telefone" [(ngModel)]='agendamento.telefone'
                name="agendammento.telefone" placeholder="telefone" required>
        </div>

        <div class="mt-4 d-flex">
            <select class="form-control col-4" [(ngModel)]='agendamento.atividade' name='atividade'>
                <option value="Atividade">Atividade</option>
                <option value="{{a}}" *ngFor="let a of profissional.atividade">{{a}}</option>
            </select>



            <select class="form-control col-4" [(ngModel)]='agendamento.dia' name="dia">
                <option value="Dia">Dia</option>
                <option value="{{d}}" *ngFor="let d of profissional.dias">{{d}}</option>
            </select>



            <select class=" form-control col-4" [(ngModel)]='agendamento.horario' name="horario">
                <option value="Horario">Horario</option>
                <option value="{{h}}" *ngFor="let h of profissional.horarios">{{h}}</option>
            </select>
        </div>
        <button class="btn btn-primary col-4 mt-5" type="submit" >Agendar</button>

    </form>
</div>