<div class="container">
    <form action="">
        <div>
            <h2 class="agendamento">Agendamento</h2>
        </div>

        <div>
            <input class="nome-cliente" type="text">
        </div>
        <div>
            <input class="nome-profissional" type="text">
        </div>
        <div>
            <label class="endereço">Endereço</label>
            <div class="dados">
                <input>Rua:
                <div>
                    <input type="text">N°: 
                    <input type="text">Complemento: 
                </div>
                <input type="text" >Cidade:
                <input type="text">UF: 

            </div>
        </div>
    </form>

</div>