<div class="container" style="font-family: Verdana">

    <h1 style="text-align: center; margin-top: 4%; color:#B03060; font-size: 25px;">
        Galeria
    </h1>

    <div class="card-content col-12 pl-2" style="margin-top: 6%;">
        <mat-card class="col-4 ">
            <img src="assets/img/download.jfif" mat-card-sm-image>
            <mat-card-subtitle class="mt-2"></mat-card-subtitle>
        </mat-card>

        <mat-card class="col-4  ml-1 mr-1">
            <img src="assets/img/aromaterapiaestetica.jpg" mat-card-sm-image>
            <mat-card-subtitle class="mt-1"></mat-card-subtitle>
        </mat-card>
        <mat-card class="col-4  ">
            <img src="assets/img/6-itens-indispensáveis-para-montar-um-centro-de-estética-.jpg" mat-card-sm-image>
            <mat-card-subtitle class="mt-2"></mat-card-subtitle>
        </mat-card>
    </div>

    <div class="card-content col-12 pl-2">
        <mat-card class="col-4 ">
            <img src="assets/img/aromaterapiaestetica.jpg" class="mt-1" mat-card-sm-image>
            <mat-card-subtitle class="mt-1"></mat-card-subtitle>
        </mat-card>

        <mat-card class="col-4  ml-1 mr-1">
            <img src="assets/img/beauty-main.jpg" mat-card-sm-image>
            <mat-card-subtitle class="mt-2"></mat-card-subtitle>
        </mat-card>
        <mat-card class="col-4  ">
            <img src="assets/img/mba-em-saude-estetica.png" mat-card-sm-image>
            <mat-card-subtitle class="mt-2"></mat-card-subtitle>
        </mat-card>
    </div>
    <div class="card-content col-12 pl-2">
        <mat-card class="col-4 ">
            <img src="assets/img/Cirurgia-plástica-estética-e-reparadora.png" mat-card-sm-image>
            <mat-card-subtitle class="mt-1"></mat-card-subtitle>
        </mat-card>
        <mat-card class="col-4  ml-1 mr-1">
            <img src="assets/img/tecnico-estetica.jpg" mat-card-sm-image>
            <mat-card-subtitle class="mt-2"></mat-card-subtitle>
        </mat-card>
        <mat-card class="col-4  ">
            <img src="assets/img/técnico_em_estética.jpg" mat-card-sm-image>
            <mat-card-subtitle class="mt-2"></mat-card-subtitle>
        </mat-card>
    </div>

    <!-- <div class="card-content col-12 pl-2">
                <mat-card class="col-4 " >
                    <img src="../../../assets/img/biscoito.jpg" mat-card-sm-image>
                    <mat-card-subtitle class="mt-2"></mat-card-subtitle>  
                </mat-card>
                <mat-card class="col-4  ">
                        <img src="../../../assets/img/biscoito.jpg" mat-card-sm-image>
                        <mat-card-subtitle class="mt-2"></mat-card-subtitle>  
                    </mat-card>
                    <mat-card class="col-4  ">
                            <img src="../../../assets/img/biscoito.jpg" mat-card-sm-image>
                            <mat-card-subtitle class="mt-2"></mat-card-subtitle>  
                        </mat-card>                   
            </div> -->

    <!-- <div class="card-content col-12 pl-2">
                    <mat-card class="col-4 " >
                        <img src="../../../assets/img/biscoito.jpg" mat-card-sm-image>
                        <mat-card-subtitle class="mt-2"></mat-card-subtitle>  
                    </mat-card>
                    <mat-card class="col-4  ">
                            <img src="../../../assets/img/biscoito.jpg" mat-card-sm-image>
                            <mat-card-subtitle class="mt-2"></mat-card-subtitle>  
                        </mat-card>
                        <mat-card class="col-4  ">
                                <img src="../../../assets/img/biscoito.jpg" mat-card-sm-image>
                                <mat-card-subtitle class="mt-2"></mat-card-subtitle>  
                            </mat-card>                   
                </div> -->



</div>