<div class="homecard container">
    <mat-card class="col-4 m-0">
        <a href="/serv">
            <mat-card-title>that's card</mat-card-title>
            <mat-card-subtitle>card</mat-card-subtitle>
        </a>
    </mat-card>
    <mat-card class="col-4 ml-1 mr-1">
        <mat-card-title>that's card</mat-card-title>
        <mat-card-subtitle>card</mat-card-subtitle>
    </mat-card>
    <mat-card class="col-4">
        <mat-card-title>that's card</mat-card-title>
        <mat-card-subtitle>card</mat-card-subtitle>
    </mat-card>
</div>