

<div class="cardi mt-2">
  <img src="../../../assets/img/biscoito.jpg" alt="John" style="width:100%">
  <h4>{{profissional.nome}} {{profissional.sobrenome}}</h4>
  <p class="title">{{profissional.atividade[0]}}</p>
  <p class="title">{{profissional.atividade[1]}}</p>
  <p class="title">{{profissional.atividade[2]}}</p>
  <p>Senac-Bonsucesso</p>
  <div style="margin: 24px 0;">
    <a href="#"><i class="fa fa-dribbble"></i></a> 
    <a href="#"><i class="fa fa-twitter"></i></a>  
    <a href="#"><i class="fa fa-linkedin"></i></a>  
    <a href="#"><i class="fa fa-facebook"></i></a> 
  </div>
  <p><button>Contact</button></p>
</div>