<div class="card-content col-12 pl-2 mt-0">
    <mat-card class="col-4 ">
        <img src="../../../assets/img/biscoito.jpg" mat-card-sm-image>
        <mat-card-subtitle class="mt-2">Sobre nós</mat-card-subtitle>
    </mat-card>

    <mat-card class="col-4  ml-1 mr-1">
        <a routerLink="/servicos">
            <img src="../../../assets/img/biscoito.jpg" mat-card-sm-image>
            <mat-card-subtitle class="mt-1">Serviços</mat-card-subtitle>
        </a>
    </mat-card>
    <mat-card class="col-4  ">
        <a routerLink='/profissionais'>
            <img src="../../../assets/img/biscoito.jpg" mat-card-sm-image>
            <mat-card-subtitle class="mt-2">Profissionais</mat-card-subtitle>
        </a>
    </mat-card>
</div>

<div class="card-content col-12 pl-2">
    <mat-card class="col-4 ">
        <a routerLink='/addProfissional'>
            <img src="../../../assets/img/biscoito.jpg" class="mt-1" mat-card-sm-image>
            <mat-card-subtitle class="mt-1">Cadastre-se</mat-card-subtitle>
        </a>
    </mat-card>

    <mat-card class="col-4  ml-1 mr-1">
        <img src="../../../assets/img/biscoito.jpg" mat-card-sm-image>
        <mat-card-subtitle class="mt-2">Galeria</mat-card-subtitle>
    </mat-card>
    <mat-card class="col-4  ">
        <img src="../../../assets/img/biscoito.jpg" mat-card-sm-image>
        <mat-card-subtitle class="mt-2">Contatos</mat-card-subtitle>
    </mat-card>
</div>
<div class="card-content col-12 pl-2">
    <mat-card class="col-4 ">
        <img src="../../../assets/img/biscoito.jpg" mat-card-sm-image>
        <mat-card-subtitle class="mt-2">Twitter</mat-card-subtitle>
    </mat-card>

    <mat-card class="col-4  ml-1 mr-1">
        <a href="http://google.com">
            <img src="../../../assets/img/biscoito.jpg" mat-card-sm-image>
            <mat-card-subtitle class="mt-2">Site</mat-card-subtitle>
        </a>
    </mat-card>
    <mat-card class="col-4  ">
        <a href="https://www.facebook.com/Spybeauty-113273383482640/?modal=admin_todo_tour">
            <img src="../../../assets/img/biscoito.jpg" mat-card-sm-image>
            <mat-card-subtitle class="mt-2">Facebook</mat-card-subtitle>
        </a>
    </mat-card>
</div>