<div class="card-content col-12 pl-2">
<mat-card class="col-4 " >
    <mat-card-subtitle>Meu card</mat-card-subtitle>
    <img src="../../../assets/img/biscoito.jpg" mat-card-sm-image>
</mat-card>

<mat-card class="col-4  ml-1 mr-1">
    <mat-card-subtitle>Meu card</mat-card-subtitle>
    <img src="../../../assets/img/biscoito.jpg" mat-card-sm-image>
</mat-card>
<mat-card class="col-4  ">
    <mat-card-subtitle>Meu card</mat-card-subtitle>
    <img src="../../../assets/img/biscoito.jpg" mat-card-sm-image>
</mat-card>
</div>

<div class="card-content col-12 pl-2">
    <mat-card class="col-4 " >
        <mat-card-subtitle>Meu card</mat-card-subtitle>
        <img src="../../../assets/img/biscoito.jpg" mat-card-sm-image>
    </mat-card>
    
    <mat-card class="col-4  ml-1 mr-1">
        <mat-card-subtitle>Meu card</mat-card-subtitle>
        <img src="../../../assets/img/biscoito.jpg" mat-card-sm-image>
    </mat-card>
    <mat-card class="col-4  ">
        <mat-card-subtitle>Meu card</mat-card-subtitle>
        <img src="../../../assets/img/biscoito.jpg" mat-card-sm-image>
    </mat-card>
    </div>
    <div class="card-content col-12 pl-2">
        <mat-card class="col-4 " >
            <mat-card-subtitle>Meu card</mat-card-subtitle>
            <img src="../../../assets/img/biscoito.jpg" mat-card-sm-image>
        </mat-card>
        
        <mat-card class="col-4  ml-1 mr-1">
            <mat-card-subtitle>Meu card</mat-card-subtitle>
            <img src="../../../assets/img/biscoito.jpg" mat-card-sm-image>
        </mat-card>
        <mat-card class="col-4  ">
            <mat-card-subtitle>Meu card</mat-card-subtitle>
            <img src="../../../assets/img/biscoito.jpg" mat-card-sm-image>
        </mat-card>
        </div>