<div class="card-content col-12 pl-2 mt-0">
    <mat-card class="col-4 ">
            <a routerLink='/sobrenos'>
                <i class="material-icons s-4">insert_emoticon</i>
        <mat-card-subtitle class="mt-2">Sobre nós</mat-card-subtitle>
        </a>
    </mat-card>

    <mat-card class="col-4  ml-1 mr-1">
        <a routerLink="/servicos">
            <i class="material-icons s-4">spa</i>
            <mat-card-subtitle class="mt-1">Serviços</mat-card-subtitle>
        </a>
    </mat-card>
    <mat-card class="col-4  ">
        <a routerLink='/Profissionais'>
            <i class="material-icons s-4">assignment_ind</i>
            <mat-card-subtitle class="mt-2">Profissionais</mat-card-subtitle>
        </a>
    </mat-card>
</div>

<div class="card-content col-12 pl-2">
    <mat-card class="col-4 ">
        <a routerLink='/tipoCadastro'>
            <i class="material-icons s-4">perm_identity</i>
            <mat-card-subtitle class="mt-1">Cadastre-se</mat-card-subtitle>
        </a>
    </mat-card>

    <mat-card class="col-4  ml-1 mr-1">
            <a routerLink='/galeria'>
                <i class="material-icons s-4">photo_library</i>
        <mat-card-subtitle class="mt-2">Galeria</mat-card-subtitle>
        </a>
    </mat-card>
    <mat-card class="col-4  ">
            <i class="material-icons s-4">contacts</i>
        <mat-card-subtitle class="mt-2">Meus Encontros</mat-card-subtitle>
    </mat-card>
</div>
<div class="card-content col-12 pl-2">
    <mat-card class="col-4 ">
        <a href="https://twitter.com/CookiesScrum">
            <img src="../../../assets/img/iconetwitter.png" mat-card-sm-image>
        <mat-card-subtitle class="mt-2">Twitter</mat-card-subtitle>
    </a>
    </mat-card>

    <mat-card class="col-4  ml-1 mr-1">
        <a href="http://google.com">
            <img src="../../../assets/img/LogoSpybeauty.png" mat-card-sm-image>
            <mat-card-subtitle class="mt-2">Site</mat-card-subtitle>
        </a>
    </mat-card>
    <mat-card class="col-4  ">
        <a href="https://www.facebook.com/Spybeauty-113273383482640/?modal=admin_todo_tour">
            <img src="../../../assets/img/iconefacebook.png" mat-card-sm-image>
            <mat-card-subtitle class="mt-2">Facebook</mat-card-subtitle>
        </a>
    </mat-card>
</div>